html,
body {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

main {
    display: grid;
    gap: 50px;
    padding: 50px;
}

.filters {
    border: 1px solid black;
    padding: 10px;
    position: sticky;
    top: 50px;

    header {
        font-weight: 400;
    }
}

.products {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.product {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    img {
        height: 200px;
        object-fit: contain;
        width: 100%;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        text-align: center;

        header {
            font-weight: 400;
        }

        .product-category {
        }

        .product-price {
        }
    }
}
