html, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

/* hide scrollbar for chrome, safari and opera */
*::-webkit-scrollbar {
  display: none;
}

.active {
    color: #fff;
}
.active-icon {
    color: #b57295 !important;
}
.sidebar-items {
    color: gray;
    font-size: medium;
}
.sidebar-items p {
    margin-left: 1em;
}
.sidebar-items:hover p {
    color: #fff;
}
.sidebar-items:hover svg {
    color: #b57295;
}
.sidebar-items:not(:last-child) {
    margin-bottom: 1.5em;
}